*{
    padding: 0 ;
    margin: 0;
    font-family: '微软雅黑';
}
html,body{
    font-size:100%;
    /*background-size:100%;*/
    height: 100%;
    width: 100%;
    background-size:100% 100%;
}

.positionloding{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #666;
    opacity: .7;
}
.positionloding img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: auto;
}
.pic{
    position: fixed;
    bottom: 10px;
    left: 30%;
    width: 40%;
    height: auto;
}
.box{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background: url("/images/bg.png") 0% 0% / 100%;
}
.container{
    width: 92%;
    max-height: 85%;
    min-height: 470px;
    overflow: hidden;
    border-radius: 10px 10px 10px;
    margin-top: 10px;

    position: relative;
    top: 0px;
    left: 4%;
}
.userPhone{

    box-sizing: content-box;
    border-radius: 50%;
    overflow:hidden;
}
.userPhone img{
    width: 100%;
    height: 100%;
}
.userName{
    text-align: center;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
.codeBth{
    float: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
}
.codeBth button{
    margin: 0 auto 50px;
    display: block;
}
.nextBtn{
    float: inherit;
    padding: 0;
    margin: 0;
    width: 80%;
    color: #fff;
    margin-left: 10%;
    line-height: 28px;

}
.check_clone{
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    background: #666;
}
.success{
    width:90%;
    height: 200px;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    border-radius: 10px;
}
.nextBtn button{
    margin: 0 auto;
    display: block;
    background-color: #f7bc00;
    border-color: #f7bc00;
    color: #d5000f;
    font-width: 600;
    padding: 10px 32px;
    border-radius: 5px;
}
.nextBtn button span{
    color: #d5000f;
}
a{
    text-decoration: none;
    color: #d5000f;
}
.crod .el-button--danger{
    background-color: #f7bc00;
    border-color: #f7bc00;
    padding: 16px 7px;
    border-radius: 5px;
}
.crod .el-button--danger span{
    color: #fff;
    padding: 10px 20px;
    background-color: #d5000f;
    border-color: #d5000f;
    color: #f7bc00;
    font-width: 600;

    border-radius: 5px;

}
.width{
    width: 100px;
    margin: 0 auto;
}
.el-col.el-col-6{
    float: none;
    margin: 0 auto;
}
.btn_no{
    height: 40px;
    background: #a8a9aa;
    width: 70%;
    margin: auto;
    line-height: 40px;
    font-size: 22px;
    border-radius: 15px;
}
.btn{
    height: 40px;
    background: #ff0049;
    width: 70%;
    margin: auto;
    line-height: 40px;
    font-size: 22px;
    border-radius: 15px;
}
.confirm_btn{
    width: 66px;
    height: 32px;
    line-height: 32px;
    background: #000;
    color: #fff;
    font-size: 14px;
    border-radius: 11px;
    font-family: '微软雅黑';
}
.span100{
    color: #5400e1;
    font-size: 22px
}